@import '../components/home-dex';

.home__title {
  margin: $s-size;
  color: #d3d3d3;
}

.home__searchbar__container {
  margin: $s-size auto;
  position: sticky;
  top: 0;
  z-index: 1; 
  height: calc($s-size + $l-size);
  background: $dark-blue;
}

#home__searchbar {
  border-radius: 25px;
  border: none;
  height: $l-size;
  width: 45%;
  outline: none;

}

input::-webkit-textfield-decoration-container {
  margin: 0 5px;
}

#modal {
  width: 100vw;
  height: 60vh;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 2;
}

#modal::-webkit-scrollbar {
  display: none;
}

