.home__dex__block {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.30);
  border-radius: 15px;
  box-shadow: 1px 1px 12px 0.1px rgba(0, 0, 0, 0.1);
  display: flex;
    flex-direction: column;
    justify-content: center;
  height: 14.6em;
  margin: .4em;
  width: 12em;
 // transition: 150ms;
}

.home__dex__block__image  {
  margin: 0 auto;
  margin-bottom: $s-size;
  display: flex;
    flex-direction: column;
    justify-content: center;
  img {
    height: 100%;
    width: 5em;
    text-align: center;
    overflow: visible;
    display: inline-block;
  }
}
.home__dex__block__link {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  p {
    color: darken(white, 10%);
    text-decoration: none;
  }
}

.home__dex__block__types {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.teambuilder__team-member {
  width: 20%;
  max-width: 10%;
  height: 5em;
  margin: 1px 0;
  border-radius: 15px;
  display: flex;
    justify-content: center;
    flex-direction: column;
  box-shadow: 1px 1px 12px 0.1px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: $s-size $s-size;
  margin: $s-size 0;
  background: lighten($dark-blue, 10%);
  color: white;
}

.teambuilder__team-member__link {
  font-size: .8em;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  p {
    color: darken(white, 10%);
    text-decoration: none;
    display: inline;
  }
}

.teambuilder__team-member__types {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
    justify-content: center;
  
  p {
    width: 49%;
  }
}

.create__teaminfo__dex__block {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.30);
  border-radius: 15px;
  box-shadow: 1px 1px 12px 0.1px rgba(0, 0, 0, 0.1);
  display: flex;
    flex-direction: column;
    justify-content: center;
  height: 15em;
  margin: .4em;
  width: 12em;
}

.create__teaminfo__dex__block__image  {
  margin: 0 auto;
  margin-bottom: $s-size;
  display: flex;
    flex-direction: column;
    justify-content: center;
  img {
    height: 5em;
    width: 5em;
    text-align: center;
    overflow: visible;
    display: inline-block;
  }
}

.create__teaminfo__dex__block__link {
  font-size: 1em;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  a {
    color: darken(white, 10%);
    text-decoration: none;
  }
}

.create__teaminfo__dex__block__types {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.create__teaminfo__dex__block__button {
  width: 30%;
  margin: 2% auto;
  border-radius: 25px;
  height: 2em;
  border: none;
  color: #444;
  font-weight: 700;
  outline: none;
}
