@import './teaminfo';

.create {
  height: 90%;
}

.create__container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
    flex-direction: column;

}

.create__title {
  margin: $s-size;
  color: #d3d3d3;
}

.create__searchbar__container {
  margin: $s-size auto;
  position: sticky;
  top: 0;
  z-index: 1;  
  height: calc($s-size + $l-size);
  background: $dark-blue;
}

#home__searchbar {
  border-radius: 25px;
  border: none;
  height: $l-size;
  width: 45%;
}

.create__add-member__blocks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  height: 70%;
}

.create__add-member__block {
  height: 35%;
  width: 30%;
  background-color: red;
}

.create__modal {
  padding: 0px;
  height: 85%;
  width: 100%;
  transition: bottom 300ms ease-in-out 0s;
  position: absolute;
  background-color: $off-white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  bottom: 0px;
  border-radius: 4px;
}

.create__modal::-webkit-scrollbar {
  display: none;
}