@import '../components/filter';

.Right-bar {
  width: 17%;
  padding: 0 5px;
  height: 100%;
}

.Right-bar.team-creator {

  #rside-bar {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}


