@import './main';
@import './left-sidebar';
@import './right-sidebar';
@import '../components/notfound';
@import '../components/loading';
@import '../components/modal';

.content {
  display: flex;
  height: 95vh;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 100vw;
}

