@use '../../page_styles/base/settings';

// .home__header__title {
//   margin: settings.$s-size;
//   color: #d3d3d3;
//   text-align: center;
//   font-size: 4rem;
// }

#modal {
  width: 100vw;
  height: 60vh;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 2;
}

#modal::-webkit-scrollbar {
  display: none;
}
