@use '../../page_styles/base/settings';

.home {
  height: 100%;
  overflow: scroll;
  width: 81%;
  // padding-bottom: 6%;
  scroll-behavior: auto;
  overscroll-behavior: auto;

}

.home::-webkit-scrollbar {
  display: none;
}

// #modal {
//   width: 100vw;
//   height: 60vh;
//   position: absolute;
//   margin: 0;
//   padding: 0;
//   border: none;
//   z-index: 2;
// }

// #modal::-webkit-scrollbar {
//   display: none;
// }
